* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;

  /*center*/
  justify-content: center;
  align-items: center;

  /*color*/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("./images/winter.jpg") no-repeat center/cover;
}

#weather {
  width: 350px;
  padding: 30px 20px;
  border-radius: 10px;
  background: url("./images/winter.jpg") no-repeat center/cover;
}
.hot {
  background: url("./images/summer.jpeg") no-repeat center/cover;
}
.hot #weather {
  background: url("./images/summer.jpeg") no-repeat center/cover;
}
.cold {
  background: url("./images/winter.jpg") no-repeat center/cover;
}
.cold #weather {
  background: url("./images/winter.jpg") no-repeat center/cover;
}
.cool {
  background: url("./images/autumn.jpeg") no-repeat center/cover;
}
.cool #weather {
  background: url("./images/autumn.jpeg") no-repeat center/cover;
}
.warm {
  background: url("./images/spring.jpeg") no-repeat center/cover;
}
.warm #weather {
  background: url("./images/spring.jpeg") no-repeat center/cover;
}

.search {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgba(2555, 255, 255, 0.3);
  border-radius: 0 15px 0 15px;
  box-shadow: 0 5px 4px rgb(0, 0, 0, 0.4);
  transition: 0.5s;
  font-size: 19px;
}

.search:focus {
  background: rgba(2555, 255, 255, 0.7);
  border-radius: 15px 0 15px 0;
}

.content {
  text-align: center;
  color: white;
  margin: 40px 0;
  transition: 0.4s;
}

.capital {
  text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
}

.time {
  font-size: 15px;
  margin: 15px 0 20px 0;
}
.temperature {
  text-shadow: 4px 4px rgb(0, 0, 0, 0.7);
  font-size: 65px;
  background: rgba(2555, 255, 255, 0.4);
  box-shadow: 4px 4px rgb(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  margin: 0 30px;
  padding: 20px;
}
.short-desc {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
  margin: 30px 0;
}
.more-desc {
  display: flex;
  justify-content: space-between;
}
.more-desc div {
  display: flex;
  flex-direction: column;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
